# Misc
# CONFIG_LOCALVERSION is not set
CONFIG_FAKE_UNAME_5_10=y

# Persistent store
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_RAM=y

# Clang
CONFIG_LTO_CLANG=y

# Filesystems
# CONFIG_SDCARD_FS is not set

# Scheduler
CONFIG_LITTLE_CPU_MASK=15
CONFIG_BIG_CPU_MASK=240
# CONFIG_SCHED_WALT is not set
# CONFIG_SCHED_CORE_CTL is not set

# IRQ
CONFIG_IRQ_SBALANCE=y
CONFIG_IRQ_SBALANCE_POLL_MSEC=20000
CONFIG_IRQ_SBALANCE_THRESH=1024
CONFIG_SBALANCE_EXCLUDE_CPUS="3,7"

# QCOM
# CONFIG_QTI_CPU_ISOLATE_COOLING_DEVICE is not set
